.logo{
    width: fit-content;
}
.logo a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}
.logo span{
    color: var(--primaryPink);
}