.product-section {
}

.navList {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.navListItem {
}

.navListItemText {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 12px;
  color: var(--grayText);
}

.productTitle {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 20px;
  color: var(--primaryText);
  margin-bottom: 10px;
}

.productReviewsWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.productReviews {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--grayText);
}

.productRatingEmptyIcon {
  fill: #dfe1e3;
}

.productRatingIcon {
  fill: var(--primaryPink);
}

.productPrice {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.69;
  color: var(--primaryText);
  margin-bottom: 20px;
}

.productDescription {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--grayText);
  margin-bottom: 10px;
}

.productSize {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--grayText);
  margin-bottom: 10px;
}

.productUsageTitle {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: var(--primaryText);
  margin-bottom: 6px;
}

.productUsageList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.productUsageItemText {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--grayText);
}

.productUsageItem {
  display: flex;
  gap: 5px;
}

.productActionsWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.productBtnCart {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  background: var(--primaryPink);
  border-radius: 4px;
  width: 261px;
  height: 41px;
  border: none;
}

.productBtnCart:hover {
  background-image: linear-gradient(
    25deg,
    #252525 0%,
    #3a3a3a 48.44%,
    #323232 100%
  );
}

.productBtnCart:focus {
  box-shadow: inset 2px 2px 0 0 #3e3e3e;
  background: var(--pink);
}

.productBtnFavorite {
  background: none;
  border: none;
}

.productBtnFavoriteIcon {
  fill: var(--favorite-icon-bg);
}

.productAccordionWrapper {
  margin-bottom: 80px;
}

.productAccordion {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  /* border-top: 1px solid #dfe1e3; */
}

/* .productAccordion:last-child {
  border-bottom: 1px solid #dfe1e3;
} */

.productAccordionActive {
  border: none;
}

.productAccordionSummaryActive {
  background: rgba(176, 166, 189, 0.1);
}

.productAccordionTitle {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.93;
  text-transform: uppercase;
  color: var(--primaryText);
}

.productAccordionText {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--grayText);
}

.productAccordionTextKey {
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  color: var(--primaryText);
}

.productAccordionIngredientsList {
  list-style: disc;
  padding-left: 20px;
}

.productAccordionIngredientsItem::marker {
  color: var(--grayText);
}

.swiperContainer {
  max-width: 495px;
  max-height: 611px;
  position: relative;
}

.sliderNavBtn {
  display: none;
}

@media screen and (min-width: 768px) {
  .productSection {
    display: flex;
    gap: 5%;
  }

  .swiperContainer {
    max-width: 395px;
    max-height: 497px;
  }

  .navList {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .swiperContainer {
    max-width: 495px;
    max-height: 611px;
  }

  .sliderNavBtn {
    display: block;
    border-radius: 50%;
    background: #bfb9cf;
    color: #fff;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    position: absolute;
    top: 40%;
    z-index: 10;
    transition: all 0.4s;
  }

  .sliderNavBtn:hover {
    opacity: 1;
  }

  .sliderNavBtnNext {
    right: -20px;
  }

  .sliderNavBtnPrev {
    left: -20px;
  }

  .navList {
    display: none;
  }

  .productTitle {
    font-size: 22px;
  }

  .productUsageList {
    flex-direction: row;
  }

  .productUsageItemIcon {
    width: 20px;
    height: 20px;
  }
}
